/* You can add custom styles here. */

// @import "plugins/numbered";

html,
.book-menu .book-menu-content,
.book-toc .book-toc-content {
  overscroll-behavior-y: none;
}

.markdown details {
  summary {
    background-color: rgba(map-get($hint-colors, "info"), 0.1);
  }
}

.markdown .book-tabs {
  input[type="radio"]:checked + label {
    border-bottom: none;
    background-color: rgba(map-get($hint-colors, "info"), 0.1);
  }
}
