.markdown {
  // {{< expand "Label" "icon" >}}
  .book-expand {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    .book-expand-head {
      background: var(--gray-100);
      padding: $padding-8 $padding-16;
      cursor: pointer;
    }

    .book-expand-content {
      display: none;
      padding: $padding-16;
    }

    input[type="checkbox"]:checked + .book-expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $padding-8 $padding-16;
      border-bottom: $padding-1 transparent;
      cursor: pointer;
      user-select: none;
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: $padding-1 solid var(--gray-100);
      padding: $padding-16;
      display: none;
    }

    input[type="radio"]:checked + label {
      border-bottom: $padding-1 solid var(--color-link);
    }
    input[type="radio"]:checked + label + .book-tabs-content {
      display: block;
    }
    input[type="radio"]:focus + label {
      @include outline;
    }
  }

  // {{< columns >}}
  .book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      margin: $padding-16 0;
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
    }
  }

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .book-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }

  // {{< kbd >}}
  kbd {
    border: 1px solid var(--gray-600);
    box-shadow: 0 2px 0 0 var(--gray-600);
    font-size: 0.875em;
    border-radius: $border-radius;
    padding: .1rem .3rem; // $padding-4 $padding-8;
  }
  .kbd-wrapper .kbd-plus {
    margin: 0 $padding-4;
  }

  // {{< gist >}}
  .gist-data {
    max-height: 256px;
    overflow: auto;
  }

  .gist__name {
    font-family: 'Roboto Mono', monospace;
    font-size: .875em;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: var(--gray-100);
    border-bottom: 1px solid var(--gray-500);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  .gist__name--lang {
    align-self: flex-end;
  }
  .gist__name+.highlight {
    margin-top: 0;
    padding-top: 0;

    &>.chroma {
      margin-top: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &>.copy-code-button {
      margin-top: 6px;
    }
  }

  // {{< spoiler >}}
  .spoiler-toggle {
    &:focus, &:active {
      outline: none;
    }

    &:focus + .spoiler-inline,
    &:active + .spoiler-inline {
      @include outline;
    }

    &:not(:checked) {
      +.spoiler-inline,
      +.spoiler-inline * {
        background: var(--gray-600);
        color: transparent;
        user-select: none;
      }

      +.spoiler-inline a {
        pointer-events: none;
        cursor: default;
      }

      +.spoiler-inline img {
        // https://stackoverflow.com/a/50942954/10668706
        // targets var(--gray-600) for light theme, looks off in dark theme
        filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(179%) hue-rotate(167deg) brightness(85%) contrast(88%);
      }
    }
  }
  details.spoiler {
    summary {
      background-color: var(--gray-600);
      color: white;
    }
  }
}
