<!DOCTYPE html>
<html lang="{{ default .Site.Language.LanguageCode .Params.Language }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">{{/* needsfix: there is no .Language.LanguageDirection */}}
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <a class="screen-reader screen-reader-focusable" href="#main">Skip to main content</a>
  <!-- test dark mode https://jsfiddle.net/35e0a97a/xmt1k659/78/ -->
<!--   <div style="text-align: center;">
  <a href="javascript:toggleColorScheme();">
        <span id="icon-sun">🌞</span>
        <span id="icon-moon">🌚</span>
  </a>
  </div> -->
  {{- if .Draft -}}
  <style>
  body {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='350' width='350'><text transform='translate(50, 300) rotate(-45)' fill='WhiteSmoke' font-size='100' font-weight='bold'>DRAFT</text></svg>");
  }
  </style>
  {{- end -}}
  <div class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content tabindex">
        {{ template "menu" . }} {{/* Left menu Content */}}
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} {{/* Mobile layout header */}}
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} {{/* Page Content */}}
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} {{/* Footer under page content */}}
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} {{/* Comments block */}}

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{/* Desktop TOC */}}
    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc" aria-label="Page navigation for desktop">
      <div class="book-toc-content">
        {{ template "toc" . }}
      </div>
    </aside>
    {{ end }}
  </div>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}{{/* must be no partialCached here */}}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{/* Mobild TOC */}}
  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix" aria-label="Page navigation for mobile">
    {{ template "toc" . }}
    <hr />
  </aside>

  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ partial "docs/breadcrumbs" . }}
  <article class="markdown book-article">{{- /* <main class="markdown" id="main"> */ -}}
    {{- .Title | printf "%s%s" "# " | printf "%s" | markdownify -}}
    {{- partial "docs/out-of-date" . -}}
    {{- .Content -}}
  </main>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
