{{ $src := .Get "src" }}
{{ $title := .Get "title" }}
{{ $w := .Get "w" | default "100%" }}
{{ $h := .Get "h" | default "500px" }}
{{/*
https://stackoverflow.com/a/1244854/10668706
https://stackoverflow.com/a/72199049/10668706
*/}}
<p id="{{ $title | anchorize}}"><a href="{{ $src }}">{{ $title }}</a></p>
<object data="{{ $src }}" type="application/pdf" aria-labelledby="{{ $title | anchorize}}" style="width:{{ $w }}; height: {{ $h }};">
  <embed src="{{ $src }}" type="application/pdf" style="width:{{ $w }}; height: {{ $h }};" />
</object>
